@font-face {
  src: url(myfonts/Caveat.ttf);
  font-family: Caveat;
}
@font-face {
  src: url(myfonts/DancingScript.ttf);
  font-family: DancingScript;
}

body {
  background-color: #000000;
  border: 1px outset #a39780;
  border-radius: 15px;
  background-image: url("00268.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
}

h3 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px inset #f8733d;
  background-color: #a21687;
  border-radius: 15px;
  color: red;
  font-family: DancingScript;
  font-size: 3em;
  text-align: center;
}

h4 {
  border: 0px inset #f8733d;
  border-radius: 15px;
  color: red;
  font-family: DancingScript;
  font-size: 3em;
  text-align: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

#box2 {
  width: 100%;
  background-color: #ff3469;
  box-shadow: 3px 3px 2px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#box1 {
  width: 100%;
  padding: 20px;
  background-color: #ff3469;
  box-shadow: 3px 3px 2px;
  border-radius: 15px;
}

label {
  display: block;
  color: #18082c;
  font-size: 1em;
  font-family: Caveat;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  color: #0f0519;
  background-color: #28a8ea;
  border: 1px inset blue;
  border-radius: 15px;
  font-family: Caveat;
  margin-bottom: 15px;
}

.password {
  font-family: DancingScript;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.reset-button,
.submit-button {
  width: 48%;
  background-color: #28a8ea;
  font-size: 1em;
  font-family: Caveat;
  border-radius: 15px;
  cursor: pointer;
}

.reset-button:hover,
.submit-button:hover {
  background-color: #1a7dbd;
  color: #fff;
}

p {
  color: #f3e24b;
  font-family: DancingScript;
  font-size: 4em;
  text-align: center;
}

.a {
  border-style: 1px inset #a50b88;
  border-size: 1px;
}

#box3 {
  margin-top: 0px;
  width: 60px; /* Adjust to your needs */
  height: 60px /* Adjust to your needs */
  max-width: none; /* Remove the max-width constraint */
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-image: url("00013.png");
  background-size: contain; /* Ensure the entire image fits */
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (max-width: 768px) {
  h4 {
    font-size: 2.5em;
  }
  p {
    font-size: 3em;
  }
}
